* {
    padding: 0 auto;
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    background-image: url(./imgs/galaxy.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.top {
    padding: 20px;
    background-color: #B477F2;
    display: flex;
    border-bottom: #0F1C30 8px solid;
}

ion-icon {
    position: relative;
    font-size: 70px;
    left: 17%;
}

a:hover,
ion-icon:hover {
    color: #026773;
    transition: 0.5s;
}

.empty {
    background-color: #5411e6;
    height: 8px;
}

/*TUDO*/

.container {
    display: flex;
}

.leftside,
.rightside {
    background-color: #B477F2;
}


p {
    font-size: 18px;
    padding: 18px;
}


a {
    text-decoration: none;
    color: #012E40;
}

h1 {
    align-items: center;
    justify-content: center;
    position: relative;
    right: 20%;
    top: 8px;
    font-size: 50px;
}

.mensagem-erro {
    display: flex;
    margin-top: 30px;
    color: rgb(109, 0, 103);
}


/*LEFT SIDE*/

.leftside {
    width: 35%;
    display: flex;
    flex-direction: column;
    border: 2px solid #6393A6;
    margin-top: 5%;
    border-radius: 10px;
    box-shadow: 2px 3px 30px #0B0726;
}

input {
    margin-top: 5%;
    padding: 20px 50px;
    display: flex;
    width: 40%;
    border-color: #331673;
    box-shadow: 2px 3px 15px #0B0726;
    border-radius: 5px;
}

.amigos-add {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid #331673;
    box-shadow: 2px 3px 15px #0B0726;
}

.buttons {
    margin-top: 30px;
    display: flex;
}

button {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 6px 3px 15px #0B0726;
    cursor: pointer;
    transition: all 0.5s ease;
    color: rgb(218, 218, 218);
}



button:hover {
    color: black;
    transform: scale(1.2);
    background-color: #B477F2;
}



.amigos {
    margin-top: 10%;
}

.add {
    background-color: #5C41BF;
}

.sorteio {
    background-color: #410ead;
}

.reiniciar {
    background-color: #675b96;
}


/*RIGHTSIDE*/

.rightside {
    width: 35%;
    border: 2px solid #6393A6;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 2px 3px 30px #0B0726;
}

h2 {
    font-size: 40px;
    margin-left: 24%;
}

.results {
    background-color: white;
    padding: 80px 115px;
    border: 2px solid #331673;
    margin-top: 10%;
    border-radius: 10px;
    box-shadow: 2px 3px 30px #0B0726;
}

li{
    list-style: none;
    text-decoration: none;
    font: bolder;
}

/*Responsivo*/

@media screen and (max-width:600px) {
    :root{
        font-size: 40%;
    }
    .top i{
        display: none;
    }
    .container{
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sorteio,
    .results{
        width: 80vw;
        padding: 24px 0;
        min-height: 30vh;
    }
    .results{
        min-height: 16vh;
    }
}